name: Test

on:
  push:
  pull_request:
  schedule:
    - cron: "0 0 * * 0" # run weekly on Sundays

permissions:
  contents: read

jobs:
  kitchen:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        suite: [ "default-debian-13", "default-debian-12" ]
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby # latest stable release
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run Test Kitchen suite ${{ matrix.suite }}
        run: bundle exec rake kitchen:${{ matrix.suite }}
  style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          ruby-version: ruby # latest stable release
          bundler-cache: true # runs 'bundle install' and caches installed gems automatically
      - name: Run style checks
        run: bundle exec rake style:ruby
